.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--transition);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients-icon {
  fill: #afb1b8;
  transition: fill var(--transition);

  .client-link:hover &,
  .client-link:focus & {
    fill: var(--accent-color);
  }
}
