.preview {
  padding-top: 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.preview-top-wrap {
  position: relative;
}

.preview-wrap {
  width: 100%;
  min-height: 70px;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.preview-text {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
