.current {
  position: relative;

  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: -1px;
  }
}
